@font-face {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 700;
	src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_dJE3gnD-w.ttf) format('truetype')
}

@font-face {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/worksans/v13/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K0nXBi8Jow.ttf) format('truetype')
}

@font-face {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	src: url(https://fonts.gstatic.com/s/worksans/v13/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K3vXBi8Jow.ttf) format('truetype')
}

@font-face {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 700;
	src: url(https://fonts.gstatic.com/s/worksans/v13/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K67QBi8Jow.ttf) format('truetype')
}

section {
	display: block
}

a {
	background-color: transparent;
	color: #cb6548;
	text-decoration: none;
	font-weight: 500;
}

@media (hover:hover) {
	a:hover {
		color: #9b442c;
		text-decoration: none
	}
}

b {
	font-weight: 700
}

img {
	border: 0;
	vertical-align: middle;
}

*,
:after,
:before {
	box-sizing: inherit
}

@-o-viewport {
	width: device-width
}

@viewport {
	width: device-width
}

h1,
h2 {
	margin-top: 0;
	margin-bottom: 1rem;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	line-height: 1.1;
	color: inherit
}

h2 {
	font-size: 2rem
}

.container {
	margin-left: auto;
	margin-right: auto;
	padding-left: .9375rem;
	padding-right: .9375rem
}

.container:after {
	content: "";
	display: table;
	clear: both
}

@media (min-width:544px) {
	.container {
		max-width: 576px
	}
}

@media (min-width:768px) {
	.container {
		max-width: 720px
	}
}

@media (min-width:992px) {
	.container {
		max-width: 940px
	}
}

@media (min-width:1200px) {
	.container {
		max-width: 1140px
	}
}

.news-item .publish-date {
	color: #818a91
}

.section-heading {
	font-size: 2.25rem;
	text-transform: uppercase;
	color: #4f93b1;
}

.important-link {
	font-size: 1.125rem;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 1rem;
	display: inline-block
}

.row-expandable {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	font-family: Work Sans, sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	margin: 0;
	display: table;
	width: 100%;
}

section#main-content>.container {
	padding-top: 2rem;
	padding-bottom: 1rem
}

.news-item {
	display: block
}

.news-item h1+.publish-date,
.news-item h2+.publish-date {
	margin-top: -.75rem
}

@media (max-width:543px) {
	.news-item h2 {
		font-size: 1.14286rem
	}
	.news-item h1 {
		font-size: 1.28571rem
	}
}

.news-item.news-item-list {
	margin-bottom: 1rem;
	margin-left: -.9375rem;
	margin-right: -.9375rem;
	position: relative;
	float: left;
	min-height: 1px;
	padding-left: .9375rem;
	padding-right: .9375rem;
	width: 100%
}

.news-item.news-item-list:first-child {
	margin-top: 0
}

.news-item.news-item-list:after {
	content: "";
	display: table;
	clear: both
}

.news-item.news-item-list .news-item-thumb {
	position: relative;
	float: left;
	min-height: 1px;
	padding-left: .9375rem;
	padding-right: .9375rem;
	width: 25%
}

.news-item.news-item-list .news-item-thumb img {
	width: 100%;
	height: auto;
}

.news-item.news-item-list .news-item-body {
	position: relative;
	float: left;
	min-height: 1px;
	padding-left: .9375rem;
	padding-right: .9375rem;
	width: 75%
}

@media (max-width:991px) {
	.news-item.news-item-list {
		margin-left: -.5rem;
		margin-right: -.5rem
	}
	.news-item.news-item-list:after {
		content: "";
		display: table;
		clear: both
	}
	.news-item.news-item-list .news-item-body,
	.news-item.news-item-list .news-item-thumb {
		position: relative;
		float: left;
		min-height: 1px;
		padding-left: .5rem;
		padding-right: .5rem
	}
}

@media (min-width:768px) {
	.news-item.news-item-list {
		margin-bottom: 2rem
	}
	.news-item.news-item-list:last-child {
		margin-bottom: 1rem
	}
}

.news-item.news-item-latest .published {
	display: table-footer-group
}

.news-item.news-item-latest h2 {
	display: table-header-group;
	font-family: Work Sans, sans-serif;
	font-size: 1.125rem;
	color: #373a3c;
	font-weight: 500
}

.news-item.news-item-latest:hover h2 {
	color: #686d71
}

@media (min-width:768px) {
	.news-item.news-item-latest {
		width: 33.33333%;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 1rem
	}
	.news-item.news-item-latest .news-item-body,
	.news-item.news-item-latest .news-item-thumb {
		padding: 0;
		width: 100%
	}
	.news-item.news-item-latest .news-item-body .published,
	.news-item.news-item-latest .news-item-body h2,
	.news-item.news-item-latest .news-item-thumb .published,
	.news-item.news-item-latest .news-item-thumb h2 {
		display: block
	}
	.news-item.news-item-latest .published {
		margin-top: .5rem;
		margin-bottom: .25rem
	}
	.news-item.news-item-latest h2 {
		margin-bottom: 0
	}
}

.news-list,
section#latest-news {
	margin-left: -.9375rem;
	margin-right: -.9375rem
}

.news-list:after,
section#latest-news:after {
	content: "";
	display: table;
	clear: both
}