body {
	margin: 10px;
}

tr:nth-child(odd) {
	background-color: #f2f2f2;
}

@media only screen and (max-width: 500px)  {
	table {
		width: 100%;
	}
	td:not(:first-child) {
		width: 1%;
		white-space: nowrap;
	}
}